<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.2/htmx.min.js" integrity="sha512-iRA+DJgDLUKPk+pqGpAM3+wSDeO5iKQkYXGtIv4+EA8oJWN1mewMJD7kWC9hHCyUTdey9bQypAhx6PASWShjOw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="min-h-dvh">
  <div id="navBar" class="fixed bg-white shadow-lg w-full h-14 flex justify-between items-center top-0">
    
    <div class="ml-4">
      <a href="/dashboard" class="text-xl font-bold">
        SeedStart
      </a>
    
    </div>
  </div>

  <div id="panelContainer" class="p-4">

    <div class="rounded shadow-lg w-96 h-96 p-4 mt-16">

      <div class="flex flex-col justify-start">
        <div class="font-semibold text-lg">
          Today's Tasks
        </div>
        
        <div hx-get="/tasksToday" hx-trigger="load, refreshTasks from:body" hx-swap="innerHTML" hx-target="#taskContent" class="mt-4">
          <div id="taskContent" class="flex flex-col justify-between overflow-y-scroll max-h-96">
            
          </div>
        
      </div>
      
    </div>

  </div>
</body>
</html>
